<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Heroínas y Héroes de la informática</title>
</head>
<body class="bodyBabbage">
    <header>
        <h1><i>Heroínas y Héroes de la informática</i></h1>
        <nav>
            <ul> 
                <li><a href="/">Home</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/berners-lee">Tim Berners Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Murray Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Charles Babbage</h2>
        <p class="pBabbage">(Teignmouth, 1792 - Londres, 1871) Matemático e ingeniero británico, 
            inventor de las máquinas calculadoras programables. A comienzos del 
            siglo XIX, bien avanzada la Revolución Industrial, los errores en los 
            datos matemáticos tenían graves consecuencias: por ejemplo, una tabla 
            de navegación defectuosa era una causa frecuente de los naufragios. 
            Charles Babbage creyó que una máquina podía hacer cálculos matemáticos 
            más rápidos y más precisos que las personas.</p>
        <img class="babbage1" src="img/babbage1.jpg" alt="Imagen de Charles Babbage">
        <p class="pBabbage">En 1822 produjo un modelo funcional pequeño de su Difference engine (máquina diferencial).
             El funcionamiento aritmético de la máquina era limitado, pero podía recopilar e imprimir
              tablas matemáticas sin mayor intervención humana que la necesaria para girar las manivelas
               en la parte superior del prototipo.

            Babbage es considerado el principal pionero de la informática por su siguiente invención, la 
            máquina analítica o Analytical engine. En su diseño teórico, la máquina analítica contenía ya
             todas las partes esenciales de la computadora moderna: dispositivo de entrada, memoria, unida
             d central de procesamiento e impresora. La máquina analítica ha pasado a la historia como el
              prototipo del ordenador moderno, aunque nunca se construyó un modelo a escala real. Pero, aun 
              si se hubiera construido, la máquina analítica habría sido movida por una máquina de vapor y, 
              debido a sus componentes totalmente mecánicos, su velocidad de cálculo no hubiera sido muy grande.
            
            A finales del siglo XIX, el ingeniero estadounidense Herman Hollerith utilizó una tecnología nueva, 
            la electricidad, cuando sometió a consideración del gobierno de Estados Unidos un proyecto para construir 
            una máquina que fue finalmente utilizada para computar los datos del censo de 1890. Hollerith fundó a 
            continuación la compañía que más tarde se convertiría en IBM.</p>
            <br><h2>Biografía</h2>
            <p class="pBiografia">Charles Babbage se licenció en la Universidad de Cambridge en 1814. Poco después, en 1815, fundó con J.
                 Herschel la Analytic Society con el propósito de renovar de la enseñanza de las matemáticas en Inglaterra
                 . En 1816 fue elegido miembro de la Royal Society y en 1828 ingresó en su universidad como profesor de mat
                 emáticas. <br>
                 Aunque había destacado en el área de la teoría de funciones y análisis algebraico, Charles Babbage se volcó 
                 en el intento por conseguir una máquina capaz de realizar con precisión tablas matemáticas. En 1833 completó 
                 su "máquina diferencial", capaz de calcular los logaritmos e imprimirlos de 1 a 108.000 con notable precisión
                 , y formuló los fundamentos teóricos de cualquier autómata de cálculo. Por entonces Babbage ya conocía los si
                 stemas decimales de conteo, y estaba familiarizado con la descomposición de complejas operaciones matemáticas
                  en secuencias sencillas. <br>
                  Después de esto, Babbage se volcó en el proyecto de diseñar una "máquina analítica" que fuese capaz de procesar
                   cualquier secuencia de instrucciones aritméticas. Para esta realización contó con fondos del gobierno inglés y
                    con la colaboración de la que está considerada como la primera programadora de la historia, Ada Lovelace, hija
                 del poeta Lord Byron. <br>
                 Aunque no consiguió su propósito, Charles Babbage sentó los principios básicos de las computadoras modernas, como
                  el concepto de programa o instrucciones básicas (que se introducen en la máquina de manera independiente de los dato
                  s), el uso de la memoria para retener resultados y la unidad aritmética. La máquina de Babbage, construida exclusiva
                  mente con piezas mecánicas y multitud de ruedas dentadas, utilizaba las tarjetas perforadas para la introducción de dat
                  os y programas, e imprimía en papel los resultados con técnicas muy similares a las que se emplearon hasta mediados de 
                  los años 70. <br>
                  En compañía de Ada Lovelace, que empleó mucho de su tiempo en la publicación de las ideas de su maestro, Babbage dedicó su
                  s últimos años y recursos a una máquina infalible que fuese capaz de predecir los ganadores de las carreras de caballos. En h
                  onor de Lady Ada Lovelace, el Departamento de Defensa de los Estados Unidos denominó ADA a un lenguaje de programación de compu
                  tadoras de alto nivel.</p>
    </section>
</body>
</html>