<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroínas y Héroes de la informática</title>
    <link rel="stylesheet" href="/css/style.css"/>

  </head>

<body class="bodyLee">

  <header>
    <h1><i>Heroínas y Héroes de la informática</i></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Charles Babbage</a></li>
            <li><a href="/berners-lee">Tim Berners Lee</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/hamilton">Margaret Hamilton</a></li>
            <li><a href="/hopper">Grace Murray Hopper</a></li>
            <li><a href="/lovelace">Ada Lovelace</a></li>
            <li><a href="/turing">Alan Turing</a></li>
        </ul>
    </nav>
  </header>
<section>
    <h2>Tim Berners-Lee</h2>
<p class="pLee">Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), es un científico
     de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera
      comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.
       En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para
        supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la
         Web y que permiten el funcionamiento de Internet. <br> </p>
<img class="bernersLee1" src="img/bernersLee1.jpg" alt="Imagen de Tim Berners-Lee"> 
<p class="pLee">  Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones
     de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran
      la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML
       (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP
        (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL
         (Uniform Resource Locator). <br>
    
    Es posible encontrar muchas de las ideas plasmadas por Berners-Lee en el proyecto Xanadú
     (que propuso Ted Nelson) y el memex (de Vannevar Bush). <br></p>
    <h2 class="bioLee">Biografía</h2>
     <p class="pLee2">Sir Timothy John "Tim" Berners-Lee nació el 8 de junio de 1955 en Londres, Inglaterra; hijo de Mary Lee Woods
       y Conway Berners Lee, ambos empleados en  Ferranti Mark 1. Después de asistir a la escuela primaria de Sheen Mount y a la
        Escuela Emanuel, se interesó por la electrónica. Entre 1973  y 1976 estudió en el Queen's College,de Oxford, donde se graduó
         en física. Comenzó entonces a trabajar como ingeniero en Poole, en la compañía de telecomunicaciones Plessey y, en 1978, se
          trasladó a Dorset, a la comapñía DG Nash, para implementar programas para impresoras. <br>

      Entre junio y diciembre de 1980 colaboró con el CERN, donde propuso un proyecto basado en el concepto de hipertexto dirigido 
      a facilitar la actualización y el intercambio de información entre los investigadores: realizó, por lo tanto, un sistema pro
      totipo llamado Enquire.
      <br>
      Finalizado su contrato en Suiza, Berners-Lee volvió a trabajar al Reino Unido, en la compañía John Poole's Image Computer S
      ystems de Bournemouth; encargándose de distintos proyectos que incrementaron sus conocimientos en el campo de las redes de c
      omputadoras. A mediados de los años ochenta regresó al CERN: en el giro de pocos años la estructura se convirtió en el nodo
      más importante de Internet en Europa, gracias a la intuición del físico británico de combinar la Web con el hipertexto. Escr
      ibió su propuesta inicial en marzo de 1989, y un año después, con la ayuda de Robert Cailliau, dio lugar a una versión revisad
      a que fue aceptada por el manager Mike Sendall.
      <br>
      Utulizando ideas similares a las que caracterizaban al sistema Enquire, Tim Berners-Lee creó la World Wide Web, que funcionaba co
      n el sistema operativo NeXTSTEP, y el primer servidor Web, CERN HTTPd (que significa Hypertext Transfer Protocol daemon).  El pr
      imer sitio web construido se puso en línea el 6 de agosto de 1991, y se llamó info.cern.ch: la primera página web contenía informaci
      ón sobre el proyecto WWW, para que los visitantes tuvieran la oportunidad de conocer más de cerca el hipertexto y los detalles técn
      icos necesarios para crear su propia página web, así como una explicación sobre la forma de buscar información en la red.
      <br>
      En 1994, el investigador británico se convirtió en uno de los seis miembros del Salón de la Fama de la World Wide Web, y fundó el
       W3C en el MIT, que incluía varias empresas que participaban en la creación de normas comunes para mejorar la calidad de la web. 
      <br>
      Tim Berners-Lee puso su idea disponible de forma gratuita, sin licencias ni derechos, explicitó sus motivos en su libro "Tejiend
      o la red", publicado en 1999; mientras tanto, el World Wide Web Consortium decidió basar sus normas en la tecnología libre de regalí
      as, para que pudiera ser adoptado por cualquier persona. 
      <br>
      En 1995 Berners-Lee ganó el premio de Innovador Joven del Año otorgado por la Fundación Kilby, y el Premio Software System d
      e la ACM, la Association for Computing Machinery; dos años más tarde, fue honrado con el título de Oficial de la Orden del Imp
      erio Británico, por sus "servicios de interconexión mundial de las computadoras."
      <br>
      Después de ser galardonado, en 1998, con un doctorado honorario de la Universidad de Essex, al año siguiente fue incluido por
       el "Time Magazine" en la lista de las 100 personas más importantes del siglo XX. Los premios y reconocimientos no se detuvi
       eron ahí: en marzo de 2000 obtuvo un título honorario de la Open University, y poco después fue incorporado a la Academia Am
       ericana de las Artes y las Ciencias. Después de convertirse, en 2001, en dueño de East Dorset Heritage Trust, Tim Berners-L
       ee fue incluido en 2002 en la lista de las cien personas más importantes en Gran Bretaña elaborada por la BBC; en 2003 ganó
        la Royal Photographic Societ's Progress Medal and Honorary Fellowship, en reconocimiento a los "inventos, la investigación
        , las publicaciones y las contribuciones que representaron un gran avance en el desarrollo científico o tecnológico de la f
        otografía y la representación gráfica."
      <br>
      Después de recibir el Premio Fellow del Computer History Museum y el Premio de Tecnología del Milenio otorgado por el President
      e de la República de Finlandia, Tarja Halonen (un premio de aproximadamente un millón de euros), en diciembre de 2004 aceptó
       la cátedra de Ciencias de la Computación en la Escuela de Electrónica y Ciencias de la Computación de la Universidad de Sout
       hampton, donde trabajó en la llamada Web Semántica. 
      <br>
      Convertido mientras tanto en Doctor en Ciencias en la Universidad de Lancaster, en 2005 fue nombrado entre las personalid
      ades británicas más importantes del año anterior, por sus logros y por haber "mostrado las características de desconfianza br
      itánica, la determinación, el agudo sentido del humor y la capacidad de adaptación" .
      <br>
      Incluido por "The Telegraph" en la lista de los cien genios vivos en 2007, recibió el Premio de la Academia Golden Plate 
      Achievement y el título de la Orden al Mérito, convirtiéndose en una de las 24 personas vivas que pueden reclamar el honor de
       utilizar las siglas O.M. después su nombre. <br> </p>
 



</section>
  

</body>

</html>