<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroínas y Héroes de la informática</title>
    <link rel="stylesheet" href="/css/style.css"/>

  </head>

<body class="home">

  <header>
    <h1><i>Heroínas y Héroes de la informática</i></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Charles Babbage</a></li>
            <li><a href="/berners-lee">Tim Berners Lee</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/hamilton">Margaret Hamilton</a></li>
            <li><a href="/hopper">Grace Murray Hopper</a></li>
            <li><a href="/lovelace">Ada Lovelace</a></li>
            <li><a href="/turing">Alan Turing</a></li>
        </ul>
    </nav>
  </header>
  <section>
    <h2>Joan Clarke</h2>
    <p class="pClarke">Joan Elisabeth Lowther Murray, nacida como Joan Elisabeth Lowther Clarke 
      (Londres, 24 de junio de 1917 - Oxford, 4 de septiembre de 1996) fue una criptoanalista
       y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.

      Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma,
       que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le
        valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico
       (MBE), en 1946.1</p>
  <img class="clarke1" src="img/clarke1.jpg" alt="Imagen de Joan Clarke">
  <h2 class="biografiaClarke">Biografía</h2>
  <p class="pClarke">Joan Clarke nació el 24 de junio de 1917 en West Norwood, Inglaterra. Estudiante brillante, 
    ganó una beca para estudiar matemáticas en el Newnham College de Cambridge, donde consiguió el denominado 
    Part I of the Mathematical Tripos (cursos de tres años que llevaban a conseguir una licenciatura) en 1936 
    acabando el trienio como una “Wrangler” (estudiante con honores). Aunque se sacó el Part II en 1939 y el 
    Part III en 1940, nunca le dieron la tan merecida licenciatura en matemáticas debido a que la Universidad de 
    Cambridge no concedió licenciaturas a mujeres hasta 1948.
  <br>
    Aunque la universidad no le dio lo que tanto se merecía, uno de sus profesores, Gordon Welchman, se fijó el 
    ella y en sus habilidades matemáticas y la fichó para trabajar en el “Government Code and Cypher School” 
    (GCCS). Welchman era uno de los cuatro ilustres matemáticos reclutados en 1939 por el gobierno de Winston 
    Churchill para actividades de decodificación y descifrado de la denominada máquina Enigma en Bletchley Park,
     una mansión victoriana de Buckingshamshire. Además de matemáticos, el gobierno británico también reclutó a
      jugadores de ajedrez, egiptólogos y demás profesionales que pudieran ayudar a descifrar el famoso código.
  <br>  
   Enigma era la una máquina única. Impenetrable. Indescifrable. Un equipo electromecánico inventado años atrás 
   que los nazis mejoraron y utilizaron para codificar mensajes. Con billones de combinaciones. Con códigos que 
   cambiaban a diario y que eran propios de cada cuerpo militar y civil. Eso hacía que el sistema de comunicación
    nazi fuera prácticamente infranqueable y por tanto, sus pasos, desconocidos por el enemigo. Y eso, en una 
    guerra, era muy útil…
  <br> 
    Joan Clarke llegó a Bletchley Park el 17 de junio de 1940. Al principio fue asignada al denominado grupo de 
    “The Girls” (“Las chicas”), un grupo de mujeres que se dedicaba a trabajos rutinarios de oficina, aunque pronto de
   stacó y fue trasladada a trabajos de desencriptado. En aquella época la criptología era un mundo de hombres, y 
   de hecho, sólo había dos mujeres criptoanalistas en toda la mansión. Joan poseía las cualidades que según Will
  ian F. Friedman, padre de la criptología moderna, debía de tener un buen profesional; capacidad de racionamiento 
  inductivo y deductivo, concentración, perseverancia e imaginación.
  <br>
  Los últimos años de su vida se dedicó a la numismática, donde realizó interesantes investigaciones
   sobre monedas antiguas. Publicó varios trabajos sobre monedas escocesas del siglo XVI y XVII que
    la hicieron merecedora del Sanford Saltus God Medal de la British Numismatic Society, uno de los
     galardones más importantes del gremio. <br>
  
  <br>
  Joan Clarke murió el 4 de septiembre de 1996 en Headington, Inglaterra.</p>
  </section>



</body>

</html>