<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroínas y Héroes de la informática</title>
    <link rel="stylesheet" href="/css/style.css"/>

  </head>

<body class="home">

  <header>
    <h1><i>Heroínas y Héroes de la informática</i></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Charles Babbage</a></li>
            <li><a href="/berners-lee">Tim Berners-Lee</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/hamilton">Margaret Hamilton</a></li>
            <li><a href="/hopper">Grace Murray Hopper</a></li>
            <li><a href="/lovelace">Ada Lovelace</a></li>
            <li><a href="/turing">Alan Turing</a></li>
        </ul>
    </nav>
  </header>

  <main>
   <p>Este sitio busca mostrar de manera simple la información de <i>las Heroínas y los Héroes</i>
    Tecnológicos más representativos del ámbito de la programación.</p>
  </main>
 
</body>

</html>