.turing1{
    width: 200px;
    height: 275px;
    float: left;
    opacity: 0.85;
    margin: 5px; 
} 
.pTuring{
    margin: 15px;
    font-size: 20px;
}
.pTuring2{
    margin: 15px;
    font-size: 20px;
}